/* Home navbar section  */
.headerGrid {
  width: 100%;
}

/*STICKY NAVBAR SECTION */
.stickyNav {
  position: fixed;
  z-index: 99;
  background-color: rgba(31, 26, 26, 0.6);
}
/*****************/
.logoContent {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.logoTxt {
  flex: 1;
  background-color: red;
  text-align: center;
  font-size: 1.8rem;
}
.logo {
  width: 3rem;
  height: 4rem;
}
.nav--container {
  display: flex;
  background-color: silver;
  justify-content: space-around;
  font-size: 1.8rem;
}

.nav--container > * {
  flex: 1;
  text-align: center;
  /* display: block; */
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.nav--container > *:hover {
  color: white;
  background-color: #1c7ed6;
}
.nav--container > *:active {
  color: lightpink;
}
/* images part*/
.bigImages {
  height: 50vh;
  width: 50vw;
  background-color: blueviolet;
  position: relative;
  background-image: url(images/bigImg/f1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: 0 auto; */
}

.size-6 {
  stroke: white;
  fill: white;
  font-weight: bolder;
  height: 1rem;
  width: 1rem;
}
.right,
.left {
  padding: 1rem;
  border-radius: 3rem;
  background-color: #1c7ed6;
  border: none;
}
.right {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateX(40%);
}
.left {
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateX(-40%);
}
/*****************/
.schoolPara {
  width: 40vw;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.aboutHead {
  text-align: center;
  padding: 1.5rem;
}

.imageText {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}
.a,
.b,
.c {
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  background-color: aliceblue;
}
.dot {
  position: absolute;
  bottom: 0.5rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.misp {
  margin-left: 2rem;
  list-style-type: square;
}
.misp > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.mish2 {
  margin-bottom: 1rem;
}
/* navigation button part */
.bars {
  stroke: black;
  fill: black;
  font-weight: bolder;
  height: 2.3rem;
  width: 2.3rem;
}

/* this is used to close the both buttons */
.bt {
  display: none;
}
/*************************************/
/* Academics SECTION */
.cardGrid {
  justify-items: center;
  gap: 1rem;
}
.card {
  /* border: solid thin red; */
  height: 28rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.levelPic {
  width: 100%;
  height: 25rem;
  background-color: blueviolet;
  background-image: url("images/bigImg/f1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cardFlex {
  display: flex;
  flex-direction: row;
  /* border: solid thin red; */
  align-content: center;
  height: 3rem;
}

.cardP {
  flex: 1;
}
.txt-show {
  z-index: 5;
  position: absolute;
  bottom: -5rem;
  background-color: gray;
  padding: 0.2rem 1rem;
}

.size-7 {
  stroke: black;
  fill: black;
  font-weight: bolder;
  height: 1rem;
  width: 2rem;
}
.button-open {
  display: none;
}
.hide .cardFlex .button-open {
  display: block;
}
.hide .txt-show {
  display: none;
} /* ************************************** */

.hide .cardFlex .button-close {
  display: none;
}

/* Facilities SECTION */
.facilityPic {
  height: 25rem;
  width: 90%;
  background-image: url("images/bigImg/f3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: ease all 100ms;
}
.facilityPic:active {
  transform: scale(1.2, 1.1);
}
.facilityCard {
  gap: 2rem;
  display: flex;
  background-color: rgb(80, 65, 65);
  padding: 1rem;
}

.facilityCard:not(:last-child) {
  margin-bottom: 3rem;
}

/* SINCE I HAD SEVERAL .facilityCard classes I can select odd child and change their order : yep I did it successfully! */
.facilityCard:nth-child(odd) .facilityPic {
  order: 1;
}
/* ********************************************************/

/* SECTION ECA GALLERY */
.ecaGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}
.eca-img {
  width: 10rem;
  height: 8rem;
  background-color: lightseagreen;
  border: solid thin pink;
  background-position: center;
  background-size: cover;
}
.ecaTxt {
  flex: 1;
}
.eca {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainEca {
  display: flex;
  gap: 2rem;
  /* flex-direction: row; */
}
.enlarge {
  transition: all ease-in-out 0.5s;
}
.hideEca .enlarge {
  position: absolute;
  max-width: 600px;
  width: 90%;
  height: 30rem;
  z-index: 80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  /* background-color: lightgreen; */
  transition: linear all 0.5s;
}

.hideEca .mainEca {
  filter: blur(0.5rem);
  /* filter: brightness(0.1); */
  /* pointer-events: none; */
  transition: ease all 0.3s;
} /* ****************************************************** */

/* ****************MESSAGE OF LEADERSHIP**************/
.leaders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
.slide {
  background-color: rgba(206, 112, 127, 0.466);
  padding: 2rem 3rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.imgLeader {
  background-image: url("images/eca/e1.png");
  background-position: center;
  background-size: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: solid white 4px;
}

.desc {
  text-align: justify;
}
/* *************************************************** */
.contactBox {
  display: flex;
  /* justify-content: flex-start; */
  cursor: pointer;
  margin: 0 auto;
  flex-direction: column;
  gap: 1rem;
}
.contactBox > * {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.contactBox > * a:active,
.contactBox > * a:hover {
  color: whitesmoke;
}

.contactIcon {
  width: 2rem;
  height: 2rem;
}
.contactIcon:hover {
  transform: scale(1.3);
}

.pno {
  display: none;
}
.numberShow .pno {
  display: block;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 15rem;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 10%);
  z-index: 9;
  border: solid thin silver;
}

.pno > * {
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: justify;
}
.pno > *:active,
.pno > *:hover {
  color: #1c7ed6;
  background-color: rgba(211, 211, 211, 0.575);
  transition: 0.5s ease all;
}
.contacts {
  position: relative;
}
.numberShow .contactBox {
  filter: blur(3px);
  pointer-events: none;
}
.cancelPn {
  background-color: rgb(231, 45, 45);
  color: white;
  transition: ease 1s all;
  text-align: center;
}
.cancelPn:active,
.cancelPn:hover {
  background-color: rgb(231, 45, 45);
  color: white;
  cursor: pointer;
}
.phone p {
  margin-bottom: 0;
}
.navReloaded {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.navReloaded > * {
  text-decoration: none;
  color: black;
}
.navReloaded > *:hover,
.navReloaded > *:active {
  color: whitesmoke;
}
.last-list {
  list-style-type: none;
}
.last-list > *:hover {
  color: whitesmoke;
}
.gridLast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.lastLogo {
  background-image: url("images/topNav/schoolLogo.png");
  background-position: center;
  background-size: cover;
  width: 10rem;
  height: 10rem;
  transform: translateX(50%);
}

.gridLast > * {
  padding: 2rem;
}
