/* ****************************1150px breakpoint media */

@media screen and (max-width: 72em) {
  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 50em) {
  .grid-3-cols {
    grid-template-columns: repeat(1, 1fr);
  }
  .txt-show {
    bottom: -7rem;
  }
  .imageText {
    flex-direction: column;
  }
  .bigImages {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    /* flex: 1; */
  }
  .schoolPara {
    width: 100%;
    flex: 1;
  }
  .nav--container {
    z-index: 99;
    text-align: center;
    flex-direction: column;
    position: absolute;
    width: 90%;
  }
  .bt {
    display: block;
  }
  .close {
    display: block;
  }
  .bar {
    display: none;
  }
  .hidden .logoContent .bt .close {
    display: none;
  }
  .hidden .logoContent .bt .bar {
    display: block;
  }

  .hidden .nav--container {
    transition: all ease-in 0.5s;
    /* transform: translateX(100%); */
    opacity: 0;
  }
  .hidden .bar {
    display: block;
  }
  .nav--container {
    /* transform: translateX(0); */
    transition: all ease-out 0.5s;
    opacity: 0.9;
    filter: blur();
  }
  body,
  html {
    overflow-x: hidden;
  }
}
