/* Home navbar section  */
.logoContent {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.logoTxt {
  flex: 1;
  background-color: red;
  text-align: center;
  font-size: 1.8rem;
}
.logo {
  width: 3rem;
  height: 4rem;
}
.nav--container {
  display: flex;
  background-color: silver;
  justify-content: space-around;
  font-size: 1.8rem;
}

.nav--container > * {
  flex: 1;
  text-align: center;
  /* display: block; */
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.nav--container > *:hover {
  color: white;
  background-color: #1c7ed6;
}
.nav--container > *:active {
  color: lightpink;
}
/* images part*/
.bigImages {
  height: 50vh;
  width: 50vw;
  background-color: blueviolet;
  position: relative;
  background-image: url(images/f1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin: 0 auto; */
}

.size-6 {
  stroke: white;
  fill: white;
  font-weight: bolder;
  height: 1rem;
  width: 1rem;
}
.right,
.left {
  padding: 1rem;
  border-radius: 3rem;
  background-color: #1c7ed6;
  border: none;
}
.right {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateX(40%);
}
.left {
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateX(-40%);
}
/*****************/
.schoolPara {
  width: 40vw;
  margin: 0 auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.aboutHead {
  text-align: center;
  padding: 1.5rem;
}

.imageText {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
  background-color: grey;
  padding: 1.2rem;
}
.a,
.b,
.c {
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  background-color: aliceblue;
}
.dot {
  position: absolute;
  bottom: 0.5rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.misp {
  margin-left: 2rem;
  list-style-type: square;
}
.misp > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.mish2 {
  margin-bottom: 1rem;
}
/* navigation button part */
.bars {
  stroke: black;
  fill: black;
  font-weight: bolder;
  height: 2.3rem;
  width: 2.3rem;
}

/* this is used to close the both buttons */
.bt {
  display: none;
}
/*************************************/
/* Academics SECTION */
.academics {
  /* parent of card */
}
.cardGrid {
  justify-items: center;
  row-gap: 2.5rem;
}
.card {
  border: solid thin red;
  height: 28rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.levelPic {
  width: 100%;
  height: 25rem;
  background-color: blueviolet;
  background-image: url("images/f1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cardFlex {
  display: flex;
  flex-direction: row;
  border: solid thin red;
  align-content: center;
  height: 3rem;
}

.cardP {
  flex: 1;
}
.txt-show {
  z-index: 5;
  position: absolute;
  bottom: -5rem;
  background-color: gray;
  padding: 0.2rem 1rem;
}

.size-7 {
  stroke: black;
  fill: black;
  font-weight: bolder;
  height: 1rem;
  width: 2rem;
}
.button-open {
  display: none;
}
.hide .cardFlex .button-open {
  display: block;
}
.hide .txt-show {
  display: none;
} /* ************************************** */

.hide .cardFlex .button-close {
  display: none;
}
